.movies {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

.movie {
  display: flex;
  margin-bottom: 35px;
  // flex-basis: 30%;
}

div.movie p {
  width: 100%;
  padding: 0;
  margin-bottom: 0px;
  color: #999;
}

.movie > .image_content {
  width: 185px;
  height: 278px;
  overflow: hidden;
}

.movie > .info {
  height: 278px;
  width: 298px;
  position: relative;
  padding: 10px;
}

.movie > .info > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e1e1e1;
}

.movie > .info > .title span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.movie > .info > .watch {
  position: absolute;
  border-top: 1px solid #999;
  padding: 10px;
  left: 0;
  bottom: 0;
}

.movie > .info > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie > .info > .overview {
  margin-top: 10px;
  word-wrap: break-word;
  white-space: normal;
}

.btn-convert {
  display: inline-block;
  border-radius: 0;
  border-color: rgba(255,255,255, .4);
  background-color: rgba(0, 0, 0, .4);
  color: #e1e1e1;
  &:hover {
    background-color: rgba(51, 51, 51, .4);
    color: #e1e1e1;
    border-color: #ffffff;
  }
}

.btn-watch {
  display: inline-block;
  border-radius: 0;
  border-color: #ff0a16;
  background-color: #e50914;
  color: #ffffff;
  &:hover {
    background-color: #ff0a16;
    color: #e1e1e1;
    border-color: #ff0a16;
  }
}
