nav {
  // @extend .clearfix;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, .4)
}

nav ul {
  width: 50%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

nav ul li a {
  font-size: 24px;
  color: white;
  &:hover {
    color: white;
  }
}

nav .logo {
  // float: left;
}

nav .logo img {
  height: 60px;
}
