<template lang="html">
  <div>
      <movies></movies>
    </div>
  </div>
</template>

<script>
import Movies from './Movies.vue'

export default {
  components: {Movies}
}
</script>

<style lang="css">
</style>
