<template lang="html">
  <div class="movie card">
    <div class="image_content">
      <img v-bind:src="getPosterUrl(movie.poster_path)" alt="">
    </div>
    <div class="info">
      <p class="title">
        <span>{{movie.title}}</span>
        <i class="fa fa-cog fa-spin fa-fw" v-if="isConverting()"></i>
        <i class="fa fa-inbox" v-if="inQueue()"></i>
      </p>
      <p><i class="fa fa-calendar" aria-hidden="true"></i> {{movie.release_date|dateYear}}</p>
      <p class="overview">{{movie.overview|cut(250)}}</p>
      <p class="watch">
        <router-link :to="{name: 'player', params:{mId: movie.id}}" v-if="movie.converted" class="btn btn-sm btn-watch"><i class="fa fa-play-circle" aria-hidden="true"></i> Watch</router-link>
        <button class="btn btn-sm btn-convert" v-on:click="startConvert()" v-if="!isConverting() && !movie.converted && !inQueue()"><i class="fa fa-cog"></i> Convert</button>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newConvertId: 0
    }
  },
  props: ['movie', 'status'],
  methods: {
    getPosterUrl(path) {
      return 'https://image.tmdb.org/t/p/w185'+path;
    },
    isConverting() {
      if (null === this.status) {
        return false;
      }
      if (this.newConvertId > 0) {
        return true;
      }
      return this.movie.id == this.status.current;
    },
    inQueue() {
      if (null === this.status) {
        return false;
      }
      var idx = this.status.queue.indexOf(this.movie.id);
      return idx >= 0;
    },
    startConvert() {
      axios.get('/convert/' + this.movie.id).then(res => {
        this.newConvertId = res.data.Id;
        console.log(res.data)
      });
    }
  },
  filters: {
    'dateYear': function(val) {
      let date = new Date(val);
      return date.getFullYear();
    },
    'cut': function(text, n) {
      if (text.length > n) {
        let short = text.substr(0, n);
        if (/^\S/.test(text.substr(n))) {
          return short.replace(/\s+\S*$/, "");
        }
        return short + '...';
      } else {
        return text;
      }
    }
  }
}
</script>

<style lang="css">
</style>
