<template lang="html">
  <div class="movies">
    <movie v-for="movie in movies"
      :key="movie.id"
      v-bind:movie="movie" v-bind:status="status">
    </movie>
  </div>
</template>

<script>
import Movie from './Movie.vue'

export default {
  data() {
    return {
      movies: [],
      status: null
    }
  },
  components: {Movie},
  created() {
    this.fetchMovies();
    this.fetchConvertId();
  },
  methods: {
    fetchMovies() {
      axios.get('/movies').then(res => {
        this.movies = res.data.movies;
        console.log(res.data);
      });
    },
    fetchConvertId() {
      axios.get('/convert').then(res => {
        this.status = res.data.status;
        console.log(res.data);
      });
    }
  }
}
</script>

<style lang="css">
</style>
