<template lang="html">
  <div class="player" v-if="movie">
    <h1>{{movie.Title}}</h1>
    <router-link :to="{name: 'index'}">Back</router-link>
    <video v-bind:src="getStreamUrl()"
      v-bind:poster="getPosterUrl(movie.backdrop_path)"
      controls>
    </video>
  </div>
</template>

<script>
export default {
  data() {
    return {
      movie: null
    }
  },
  created() {
    this.fetchMovie();
  },
  methods: {
    fetchMovie() {
      axios.get('/movies/'+this.$route.params.mId).then(res => {
        this.movie = res.data.movie;
        console.log(res.data);
      });
    },
    getStreamUrl() {
      // return 'http://localhost:8888' + path;
      return '/play/' + this.movie.id;
    },
    getPosterUrl(path) {
      return 'https://image.tmdb.org/t/p/w780'+path;
    }
  }
}
</script>

<style lang="css">
</style>
